<html>
  <head>
    <title>The Carculator - Welcome</title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <div id ="index" class="header">
      <p class="nomargin">[The Carculator™]</p>
      <a href="index">
      <img class = "pengone" src="../static/images/pengone.png">
      </a>
    </div>
    <div class = "container">
      <div class = "container2">
        <div class = "flex-container">
          <div class = "side">
            <h1>Hello.</h1>
            <p>Welcome to the brand-new Carculator™. Please enter your name.</p>
            <form method="post" action="/sendUsername">
              <input type="text" name="username" placeholder="Enter your name here!"/>
              <input type="submit" value="Submit"/>
            </form>
          </div>
          <div class = side>
            <img src="../static/images/car.jpeg">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>